@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@400;600;700;900&family=BhuTuka+Expanded+One&family=Big+Shoulders+Display:wght@800;900&family=Chivo&family=DM+Serif+Display&family=Epilogue:wght@300;700;900&family=Fraunces:opsz,wght@9..144,400;9..144,700;9..144,900&family=Hanken+Grotesk:wght@500;700;800&family=IBM+Plex+Sans:wght@400;700&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@300;400;700&family=Lexend+Deca:wght@400;700&family=Montserrat:wght@700&family=Open+Sans&family=Oswald:wght@500&family=Outfit:wght@300;400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@200;400;600&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@400;500;700;900&family=Roboto:ital,wght@1,700&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@400;600;700;900&family=BhuTuka+Expanded+One&family=Big+Shoulders+Display:wght@700;800;900&family=Chivo&family=DM+Serif+Display&family=Epilogue:wght@300;700;900&family=Fraunces:opsz,wght@9..144,400;9..144,700;9..144,900&family=Hanken+Grotesk:wght@500;700;800&family=IBM+Plex+Sans:wght@400;700&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@300;400;700&family=Lexend+Deca:wght@400;700&family=Montserrat:wght@700&family=Open+Sans&family=Oswald:wght@500&family=Outfit:wght@300;400;700&family=Plus+Jakarta+Sans:wght@500;800&family=Poppins:wght@200;400;600&family=Raleway:wght@400;700&family=Red+Hat+Display:wght@400;500;700;900&family=Roboto:ital,wght@1,700&family=Space+Mono:wght@400;700&family=Work+Sans:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}
.card{
    background-color: #E28625;
    width: 326px;
    height: 442px;
    padding-left: 49px;
    padding-top: 49px;
    border-radius: 8px  8px 0 0;
}

.img{
    padding-bottom: 25px;
}

.p{
    color: white;
    font-size: 15px;
    font-family: Lexend Deca;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    width: 200px;
}

.h1{
    color: #F2F2F2;
    font-size: 40px;
    font-family: Big Shoulders Display;
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-bottom: 25px;
}

.button{
    color: #E28625;
    font-size: 15px;
    font-family: Lexend Deca;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
    width: 146px;
    height: 48px;
    border-radius: 30px;
    background-color: white;
}


.orange:hover{
    background-color: #e9aa66;
    transition: 1s;
    border: 2px solid white;
    color: white;
    margin-left: 50px;
    
}
.aqua:hover{
    background-color: #05aab5;
    transition: 1s;
    border: 2px solid white;
    color: white;
    margin-left: 50px;
}
.blue:hover{
    background-color: #1d9d9b;
    transition: 1s;
    border: 2px solid white;
    margin-left: 50px;
    color: white;
}







